<template>
    <div class="col-lg-3 col-md-6">
        <div class="card bg-c-blue total-card">
            <div class="card-block">
                <div class="text-left">
                    <h4>4000</h4>
                    <p class="m-0">Total Sales</p>
                </div>
                <span class="label bg-c-blue value-badges">12%</span>
            </div>
            <div id="total-value-graph-1" style="height:100px;"></div>
        </div>
    </div>
</template>

<script>
    import '../../../node_modules/jquery/dist/jquery.min.js'
    import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'
    import '../../../node_modules/bootstrap/dist/js/bootstrap.min.js'
    export default {
      name: 'Home'
    }
</script>

<style scoped>

</style>